<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="networking.mobile.mobilenetworkingproject" >

    <!-- Use bluetooth feature -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- app to initiate device discovery or manipulate Bluetooth settings -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- BLE support -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".file.EditFileActivity"
            android:label="@string/title_activity_edit_file_activity" >
        </activity>

        <receiver
            android:name=".broadcastreceivers.IntervalScanningBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".backup.ViewBackupActivity"
            android:label="@string/title_activity_view_backup" >
        </activity>

        <service
            android:name=".service.ApplicationService"
            android:exported="false" >
        </service>

        <activity
            android:name=".backup.ViewBackupFileDataActivity"
            android:label="@string/title_activity_view_backup_file_data" >
        </activity>
    </application>

</manifest>